BASIC LEVEL FOR LOOP SOLUTIONS

In [2]:
x=int(input("Enter upto where you have to print: "))
for i in range(1,x+1):
    print(i, end=" ")

Enter upto where you have to print:  10

1 2 3 4 5 6 7 8 9 10

In [3]:
l=[3,7,5,2,1]
print(sum(i for i in l))

18

In [11]:
s="PWskills"
for i in range((len(s)-1),-1,-1):
    print(s[i], end=" ")

s l l i k s W P

In [16]:
num=int(input("Enter number to do factorial: "))
f=1
for i in range(num,0,-1):
    f=f*i
print(f)

Enter number to do factorial:  5

120

In [24]:
T=int(input("Enter which table do you want: "))
for i in range(1,11):
    print(f"{T} * {i} =",T*i)

Enter which table do you want:  4

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

In [26]:
l=[1,2,3,4,5,6,7,8,9,2,6,5,10]
odd=0
even=0
for i in range(len(l)):
    if l[i]%2==0:
        even=even+1
    else:
        odd=odd+1
print(f"list has {even} even numbers and {odd} odd numbers.")

list has 7 even numbers and 6 odd numbers.

In [27]:
num=int(input("Enter upto where you want squares: "))
for i in range(1,num+1):
    print(i**2, end=" ")

Enter upto where you want squares:  5

1 4 9 16 25

In [28]:
s="Gnanesh"
count=0
for i in s:
    count=count+1
print(count)

7

In [31]:
l=[2,2,6,7,4,9]
s=sum(i for i in l)
print(s/len(l))

5.0

In [34]:
n=int(input("Enter how many fibonacci numbers you want: "))
f=0
s=1
for i in range(n):
    print(f, end=" ")
    temp=f
    f=s
    s=temp+s

Enter how many fibonacci numbers you want:  10

0 1 1 2 3 5 8 13 21 34

INTERMEDIATE LEVEL FOR LOOP SOLUTIONS

In [43]:
l=[2,4,6,8,4]
for i in l:
    if l.count(i)>1:
        print("Yes list has duplicate values")
        break
    else:
        continue

Yes list has duplicate values

In [45]:
n=int(input("Enter upto where we find prime numbers: "))
for i in range(1,n):
    count=0
    for j in range(1,i):
        if i%j==0:
            count+=1
    if count<2:
        print(i, end=" ")

Enter upto where we find prime numbers:  100

1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [46]:
s="Gnanesh learning data science in PWSKILLS"
v="AEIOUaeiou"
count=0
for i in s:
    if i in v:
        count+=1
print("string has ",count," vowels.")

string has  12  vowels.

In [52]:
l=[[1,4,6],[8,10,2],[6,1,7]]
max=0
for i in l:
    if len(i)>2:
        for j in i:
            if max<j:
                max=j
print(max)

10

In [1]:
l=[3,6,9,5,3,10,9,3,6]
num=int(input("Enter what element will be remove"))
for i in l:
    if num==i:
        l.remove(i)
l

Enter what element will be remove 3

[6, 9, 5, 10, 9, 6]

In [9]:
T=int(input("Enter how many tables do you want: "))
for i in range(1,T+1):
    for j in range(1,11):
        print(f"{i} * {j} =" , i*j)
    print()

Enter how many tables do you want:  5

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [10]:
F=[45,98,32]
C=[]
for i in F:
    C.append((5/9)*(i-32))
print(C)

[7.222222222222222, 36.66666666666667, 0.0]

In [11]:
l1=[1,2,3,4,5,6,7,8]
l2=[2,4,6,8,10,11,3]
for i in l1:
    if i in l2:
        print(i, end=" ")

2 3 4 6 8

In [13]:
l=int(input("Enter how many lines do you want: "))
for i in range(l+1):
    for j in range(i):
        print("*", end=" ")
    print()

Enter how many lines do you want:  5

*
* *
* * *
* * * *
* * * * *

In [15]:
fn=int(input("Enter first number to find GCD"))
sn=int(input("Enter second number to find GCD"))
max=0
for i in range(1,fn+1):
    if fn%i==0 and sn%i==0:
        max=i
print(max)

Enter first number to find GCD 15
Enter second number to find GCD 20

5

ADVANCED LEVEL LIST COMPREHENSION SOLUTIONS

In [30]:
l=[2,4,6,8,3,10]
sum=0
_=[sum:=sum+i for i in l]
print(sum)

33

In [35]:
num=int(input("Enter a number: "))
a=2
while num!=1:
    if num%a==0:
        num=num/a
        print(a, end=" ")
    else:
        a=a+1

Enter a number:  40

2 2 2 5

In [36]:
l=[1,2,3,4,5,6,7,8,2,4,6,10]
l1=[i for i in l if l.count(i)<2]
print(l1)

[1, 3, 5, 7, 8, 10]

In [49]:
n=int(input("Enter uptp where you check palindrome numbers: "))
l=[]
for i in range(11,n+1):
    temp=i
    rev=0
    while i>0:
        d=i%10
        rev=(rev*10)+d
        i=i//10
    if temp==rev:
            l.append(temp)
print(l)

Enter uptp where you check palindrome numbers:  500

[11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494]

In [64]:
l=[[2,4,6],[8,9]]
l2=[ele for i in l for ele in i]
print(l2)

[2, 4, 6, 8, 9]

In [71]:
l=[10,1,9,2,8,3,7,4,6,5]
s_e=0
s_o=0
a=[s_e:=s_e+i for i in l if i%2==0]
b=[s_o:=s_o+i for i in l if i%2!=0]
print("Sum of even numbers: ", s_e)
print("Sum of odd numbers: ", s_o)

Sum of even numbers:  30
Sum of odd numbers:  25

In [72]:
n=int(input("Enter end numer: "))
l=[i**2 for i in range(n) if i%2!=0]
print(l)

Enter end numer:  10

[1, 9, 25, 49, 81]

In [73]:
l1=['Name','age','state']
l2=['Gnan',20,'AP']
a={l1[i]:l2[i] for i in range(len(l1))}
print(a)

{'Name': 'Gnan', 'age': 20, 'state': 'AP'}

In [74]:
s="GnaneshPWSKILLS"
v='aeiouAEIOU'
l=[i for i in s if i in v]
print(l)

['a', 'e', 'I']

In [79]:
l1=['Gnan','20','AP','908','346','djikjf','3889483']
l=[l1.remove(i) for i in l1 if i.isalpha()]
print(l1)

['20', '908', '346', '3889483']

CHALLENGED LEVEL SOLUTIONS

In [88]:
n=int(input("Enter end number: "))
l1=[i for i in range(n+1)]
p=2
while p*p<=n:
    if p!=0:
        for i in range(p*2,n+1,p):
            l1[i]=0 
    p+=1
l2=[i for i in l1 if i != 0]
print(l2)

Enter end number:  100

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

In [121]:
x=int(input("Enter upper limit:"))
y=0
z=2
l=[]
while(y<x):
    for n in range(1,z+1):
        a=z*z-n*n
        b=2*z*n
        y=z*z+n*n
        if(y>x):
            break
        if(a==0 or b==0 or y==0):
            break
        l.append((a,b,y))
    z=z+1
print(l)

Enter upper limit: 20

[(3, 4, 5), (8, 6, 10), (5, 12, 13), (15, 8, 17), (12, 16, 20)]

In [1]:
l1 = ["b", "c", "d"]
l2 = [1, 4, 9]
unique_combinations = []
for i in range(len(l1)):
	for j in range(len(l2)):
		unique_combinations.append((l1[i], l2[j]))
print(unique_combinations)

[('b', 1), ('b', 4), ('b', 9), ('c', 1), ('c', 4), ('c', 9), ('d', 1), ('d', 4), ('d', 9)]

In [11]:
L=[1,2,3,4,5,6,7,8,4,10,11,4]
s=0
a=[s:=s+i for i in L]
print("Mean is: ",s/len(L))
L.sort()
print("Median is: ",L[len(L)//2])
count=1
mode=0
m=[mode:=i for i in L if L.count(i)>count]
print("Mode is: ",mode)

Mean is:  5.416666666666667
Median is:  5
Mode is:  4

In [6]:
r=int(input("Enter row: "))
l=[]
for i in range(r):
    dl=[]
    for j in range(i+1):
        if j==0 or j==i:
            dl.append(1)
        else:
            dl.append(l[i-1][j-1]+l[i-1][j])
    l.append(dl)
for i in range(r):
    for j in range(r-i-1):
        print(" ", end="")
    for j in range(i+1):
        print(l[i][j],end=" ")
    print()

Enter row:  5

    1
   1 1
  1 2 1
 1 3 3 1
1 4 6 4 1

In [22]:
s= {1, 2, 3, 4, 5}
l1=[]
fact = 1
for i in s:
    for num in range(1,i+1):
        fact = fact * num
    l1.append(fact)
s=sum(i for i in l1)
print(s)

34863

In [25]:
s="My name is gnanesh"
l=s.split(" ")
l1=""
_=[l1:=i for i in l if len(i)>len(l1)]
print(l1)

gnanesh

In [40]:
l=['Gnanesh','oopsin','iamo','learn']
v="aeiouAEIOU"
for i in l:
    count=0
    for char in i:
        if char in v:
            count+=1
    if count<3:
        l.remove(i)
print(l)

['oopsin', 'iamo']

In [1]:
s=sum(i for i in range(1,1001))
print(s)

500500

In [2]:
n=int(input("Enter uptp where you check palindrome numbers: "))
l=[]
for i in range(11,n+1):
    temp=i
    rev=0
    while i>0:
        d=i%10
        rev=(rev*10)+d
        i=i//10
    if temp==rev:
            l.append(temp)
print(l)

Enter uptp where you check palindrome numbers:  50

[11, 22, 33, 44]

THANK YOU FOR GIVING THIS ASSIGNMENT