17-09-2023

FOR LOOP SOLUTIONS

In [2]:
n=int(input("Enter end number: "))
for i in range(1,n+1):
    print(i,end=" ")

Enter end number:  10

1 2 3 4 5 6 7 8 9 10

In [12]:
print("For loop is used to iterate a particular sequence of items.\nWhile loop is used to execute a block of code while the condition is true.")

For loop is used to iterate a particular sequence of items.
While loop is used to execute a block of code while the condition is true.

In [14]:
n=int(input("Enter last number upto where you want sum of numbers: "))
sum=0
for i in range(1,n+1):
    sum+=i
print(sum)

Enter last number upto where you want sum of numbers:  100

5050

In [17]:
l=[1,3,5,7,9,2,4,6,8,10]
print("I created one list named as l.\nNow by using 'for i in l' I iterate through the list.\nHere i am retreiving each and every item one by one until last item of the list.")
for i in l:
    print(i,end=" ")

I created one list named as l.
Now by using 'for i in l' I iterate through the list.
Here i am retreiving each and every item one by one until last item of the list.
1 3 5 7 9 2 4 6 8 10

In [18]:
l=[2,5,8,10,7,6]
product=1
for i in l:
    product*=i
print(product)

33600

In [19]:
n=int(input("Enter last number upto where we have to print even numbers: "))
for i in range(1,n+1):
    if i%2==0:
        print(i,end=" ")

Enter last number upto where we have to print even numbers:  20

2 4 6 8 10 12 14 16 18 20

In [20]:
n=int(input("Enter number to find factorial: "))
fact=1
for i in range(1,n+1):
    fact*=i
print(fact)

Enter number to find factorial:  5

120

In [22]:
s="Gnanesh learning from PWskills"
for i in s:
    print(i,end="")

Gnanesh learning from PWskills

In [23]:
l=[23,45,67,233,1,69,70]
max=0
for i in l:
    if max<i:
        max=i
print(max)

233

In [25]:
n=int(input("Enter how many numbers you want in fibonacci series: "))
f=0
s=1
for i in range(n):
    print(f,end=" ")
    t=f
    f=s
    s=t+s

Enter how many numbers you want in fibonacci series:  10

0 1 1 2 3 5 8 13 21 34

In [26]:
s="Gnanesh learning data science from PWskills"
v="AEIOUaeiou"
c=0
for i in s:
    if i in v:
        c+=1
print("string has",c,"vowels.")

string has 12 vowels.

In [28]:
n=int(input("Enter number to create multiplication table: "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter number to create multiplication table:  3

3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

In [32]:
l=[2,5,8,4,'PW','Gnan','data',78.5]
l1=[]
for i in range((len(l)-1),-1,-1):
    l1.append(l[i])
print(l1)

[78.5, 'data', 'Gnan', 'PW', 4, 8, 5, 2]

In [35]:
l=[2,5,8,7,9,14,22]
l1=[4,10,22,2,34,7,92]
for i in l1:
    if i in l:
        print(i,end=", ")

22, 2, 7,

In [45]:
d={'name':'Gnanesh','Roll_no':19,'Platform':'PWskills','course':'Datascience'}
print("We can iterate by keys. ")
for i in d:
    print(d[i],end=", ")
print()
print("\nWe can iterate keys by items. ")
for i in d.items():
    print(i[0],end=", ")

We can iterate by keys.
Gnanesh, 19, PWskills, Datascience,

We can iterate keys by items.
name, Roll_no, Platform, course,

In [46]:
n1=int(input("Enter first number to find GCD: "))
n2=int(input("Enter second number to find GCD: "))
gcd=1
for i in range(1,min(n1,n2)):
    if n1%i==0 and n2%i==0:
        gcd=i
print(gcd)

Enter first number to find GCD:  60
Enter second number to find GCD:  36

12

In [48]:
s=input("Enter any string to check palindrome or not: ")
s1=""
for i in range((len(s)-1),-1,-1):
    s1+=s[i]
if s==s1:
    print("string is palindrome.")
else:
    print("string is not a palindrome")

Enter any string to check palindrome or not:  GnanG

string is palindrome.

In [51]:
l=[2,5,8,4,'PW','Gnan','data',78.5,2,8,'Gnan']
l1=[]
for i in l:
    if i not in l1:
        l1.append(i)
print(l1)

[2, 5, 8, 4, 'PW', 'Gnan', 'data', 78.5]

In [52]:
sen="My name is Gnanesh and I am learning data science from pwskills"
l=sen.split(" ")
print(len(l))

12

In [54]:
n=int(input("Enter last number upto where we have to print odd numbers: "))
sum=0
for i in range(1,n+1):
    if i%2!=0:
        sum+=i
print(sum)

Enter last number upto where we have to print odd numbers:  50

625

In [56]:
year=int(input("Enter any year to check leap year or not: "))
if (year%4==0 and year%100!=0 or year%400==0):
    print(year,"is leap year")

Enter any year to check leap year or not:  2024

2024 is leap year

In [7]:
n=int(input("Enter number to find square root of the number: "))
for i in range(2,n):
    if n%i==0 and i*i==n:
        print(i)

Enter number to find square root of the number:  64

8

In [12]:
n1=int(input("Enter first number to find LCM: "))
n2=int(input("Enter second number to find LCM: "))
gcd=1
for i in range(1,min(n1,n2)+1):
    if n1%i==0 and n2%i==0:
        gcd=i
print((n1*n2)//gcd)

Enter first number to find LCM:  12
Enter second number to find LCM:  48

48

IF-ELSE SOLUTIONS

In [13]:
n=int(input("Enter any number: "))
if n>0:
    print("Number is positive")
elif n<0:
    print("Number is negative")
else:
    print("Number is zero")

Enter any number:  -5

Number is negative

In [14]:
n=int(input("Enter any number: "))
if n%2==0:
    print("Number is even.")
else:
    print("Number is odd.")

Enter any number:  9

Number is odd.

In [16]:
print("If we have to check number is even or odd only \nwhen the number is positive then we have to use nested if-else statements")
print("Here the python program below\n")
n=int(input("Enter any number: "))
if n>0:
    if n%2==0:
        print("Number is even.")
    else:
        print("Number is odd.")
else:
    print("Enter positive number")

If we have to check number is even or odd only
when the number is positive then we have to use nested if-else statements
Here the python program below

Enter any number:  47

Number is odd.

In [17]:
n1=int(input("Enter first number: "))
n2=int(input("Enter second number: "))
n3=int(input("Enter third number: "))
if (n1>n2 and n1>n3):
    print(n1,"is largest number")
elif (n2>n1 and n2>n3):
    print(n2,"is largest number")
else:
    print(n3,"is largest number")

Enter first number:  5
Enter second number:  9
Enter third number:  3

9 is largest number

In [21]:
n=int(input("Enter any number: "))
if n<=0:
    print(abs(n))
else:
    print(n)

Enter any number:  -9

9

In [22]:
c=input("Enter any letter from alphabets: ")
v='AEIOUaeiou'
if c in v:
    print("The entered character is vowel.")
else:
    print("The entered character is consonant")

Enter any letter from alphabets:  t

The entered character is consonant

In [24]:
age=int(input("Enter your age: "))
if age>=18:
    print("You are eligible to vote")
else:
    print("You are not eligible to vote")

Enter your age:  22

You are eligible to vote

In [32]:
n=int(input("Enter cost of the item: "))
if 800<n<999:
    print("You got",(n*5)/100,"discount on your product.")
elif 999<n<5001:
    print("You got",(n*10)/100,"discount on your product.")
elif n>5000:
    print("You got",(n*15)/100,"discount on your product.")
else:
    print("You are not eligible for discount")

Enter cost of the item:  2489

You got 248.9 discount on your product.

In [33]:
r1=int(input("Enter starting number of range: "))
r2=int(input("Enter ending number of range: "))
n=int(input("Enter any number: "))
l=[]
for i in range(r1,r2+1):
    l.append(i)
if n in l:
    print("Number is in range.")
else:
    print("Number is not in range")

Enter starting number of range:  4
Enter ending number of range:  20
Enter any number:  10

Number is in range.

In [1]:
mark=int(input("Enter marks: "))
if mark>90:
    print('A Grade')
elif 80<mark<91:
    print('B Grade')
elif 70<mark<81:
    print('C Grade')
elif 60<mark<71:
    print('D Grade')
elif 50<mark<61:
    print('E Grade')
elif 40<mark<51:
    print('F Grade')
else:
    print('Fail')

Enter marks:  85

B Grade

In [2]:
s=input("Enter any string: ")
if len(s)>0:
    print("String is not empty")
else:
    print("String is empty")

Enter any string:

String is empty

In [3]:
l1=int(input("Enter length1: "))
l2=int(input("Enter length2: "))
l3=int(input("Enter length3: "))
t=['It is equilateral triangle' if l1==l2==l3 else 'It is isosceles triangle' if l1==l2 or l2==l3 or l3==l1 else 'It is scalene triangle' if l1!=l2!=l3 and l1+l2+l3==180 else 'Enter correct numbers.']
print(t)

Enter length1:  45
Enter length2:  90
Enter length3:  45

['It is isosceles triangle']

In [4]:
n=int(input("Enter number: "))
w=['Monday' if n==1 else 'Tuesday' if n==2 else 'Wednesday' if n==3 else 'Thursday' if n==4 else 'Friday' if n==5 else 'Saturday' if n==6 else 'Sunday']
print(w)

Enter number:  5

['Friday']

In [6]:
def l_y(n):
    if (n%4==0 and n%100!=0 or n%400==0):
        print(n,"is leap year")
    else:
        print(n,"is not a leap year")
year=int(input("Enter any year: "))
l_y(year)

Enter any year:  2023

2023 is not a leap year

In [2]:
print("Using assert statement we can proceed or break the program with error!\n")
n=int(input("Enter any number: "))
assert n>0, "Number is negative."
if n%2==0:
    print("Number is even.")
else:
    print("Number is odd.")

Using assert statement we can proceed or break the program with error!

Enter any number:  5

Number is odd.

In [1]:
age=int(input("Enter age of the person: "))
if age>59:
    print("You are eligible for senior citizen discount")
else:
    print("You are not eligible for senior citizen discount")

Enter age of the person:  59

You are not eligible for senior citizen discount

In [6]:
c=input("Enter any character: ")
if c.isupper():
    print("Character in uppercase")
elif c.islower():
    print("Character in lowercase")
else:
    print("Please enter a character")

Enter any character:  P

Character in uppercase

In [15]:
a=int(input("Enter first number: "))
b=int(input("Enter second number: "))
c=int(input("Enter third number: "))
if a==b==c==0:
    print("Enter correct values.")
else:
    print("root-1",(-b + (b ** 2 - 4 * a * c) ** 0.5) / (2 * a))
    print("root-2",(-b - (b ** 2 - 4 * a * c) ** 0.5) / (2 * a))

Enter first number:  4
Enter second number:  -5
Enter third number:  -12

root-1 2.4663649828320295
root-2 -1.2163649828320293

In [17]:
year=int(input("Enter year to check century year or not: "))
if year%100==0:
    print("The year is a century year")
else:
    print("The year is not a century year")

Enter year to check century year or not:  2001

The year is not a century year

In [26]:
n=int(input("Enter any number to check perfect square or not: "))
count=0
for i in range(1,n//2):
    if i*i==n:
        count=+1
if count==1:
    print("It is a perfect square number.")
else:
    print("It is not a perfect square number.")

Enter any number to check perfect square or not:  45

It is not a perfect square number.

In [29]:
print("Break will terminate the entire block of code once the condition true.\nContinue will skip the particular iteration and continue from next iteration.")

Break will terminate the entire block of code once the condition true.
Continue will skip the particular iteration and continue from next iteration.

In [32]:
H=float(input("Enter height in cm's" ))
W=float(input("Enter wight in kg's" ))
print("your BMI is",(W/H/H)*10000)

Enter height in cm's 178
Enter wight in kg's 78

your BMI is 24.618103774775914

In [38]:
l=[5,18,22,13,10,56,2,3,4,9,8,11]
choice=int(input("Enter to filter. 1-even,2-odd"))
if choice==1:
    print(list(filter(lambda a: a%2==0,l)))
else:
    print(list(filter(lambda a: a%2!=0,l)))

Enter to filter. 1-even,2-odd 2

[5, 13, 3, 9, 11]

In [41]:
n=int(input("Enter any number: "))
count=0
for i in range(1,n):
    if n%i==0:
        count+=1
if count<2:
    print("Number is prime")
else:
    print("Number is not prime")

Enter any number:  13

Number is prime

MAP SOLUTIONS

In [2]:
print("Map function has two arguments one is function and another one is iterable.\nThe map function iterate each and every element separately and do particular function we create in the map function.")
l=[2,4,6,8,10]
list(map(lambda a:a+3,l))

Map function has two arguments one is function and another one is iterable.
The map function iterate each and every element separately and do particular function we create in the map function.

[5, 7, 9, 11, 13]

In [6]:
l=[1,2,3,4,5,6,7,8,9,10]
def sq(a):
    return a**2
list(map(sq,l))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
print("List comprehension returns a list by default but map returns objects that iterate.\nTo iterate each and every value we have to use for loop in list comprehension what we didn't in map function.\nIf we want to write large expressions list comprehension will use. If the function or expression already defined map will use.")

List comprehension returns a list by default but map returns objects that iterate.
To iterate each and every value we have to use for loop in list comprehension what we didn't in map function.
If we want to write large expressions list comprehension will use. If the function or expression already defined map will use.

In [8]:
l=['Gnanesh','PWskills','India','DataScience']
list(map(lambda a:a.upper(),l))

['GNANESH', 'PWSKILLS', 'INDIA', 'DATASCIENCE']

In [9]:
l=['Gnanesh','PWskills','India','DataScience']
list(map(lambda a:len(a),l))

[7, 8, 5, 11]

In [15]:
l1=[2,4,6,8,10]
l2=[1,3,5,7,9]
def cube(n):
    return n**3
print(list(map(cube,l1)))
print(list(map(cube,l2)))

[8, 64, 216, 512, 1000]
[1, 27, 125, 343, 729]

In [16]:
l=[45,30,25,23]
list(map(lambda a:a*(9/5)+32,l))

[113.0, 86.0, 77.0, 73.4]

In [19]:
l=[45.5,30.3,25.8,23.2]
list(map(lambda a:round(a),l))

[46, 30, 26, 23]

REDUCE SOLUTIONS

In [24]:
print("Reduce function uses functions which are already defined in python.\nBy using that functions the reduce apply a function cummutatively on each and every element iterably.")
print("Here one example.\nFirst we have to import reduce from functools.\nThen i will write reduce function by using lambda function.")
from functools import reduce
l=[2,1,3,4,2,10]
reduce(lambda a,b: a+b,l)

Reduce function uses functions which are already defined in python.
By using that functions the reduce apply a function cummutatively on each and every element iterably.
Here one example.
First we have to import reduce from functools.
Then i will write reduce function by using lambda function.

22

In [25]:
from functools import reduce
l=[2,1,3,4,2,10]
reduce(lambda a,b: a*b,l)

480

In [26]:
from functools import reduce
l=[2,1,3,4,2,10]
reduce(lambda a,b:a if a>b else b,l)

10

In [27]:
from functools import reduce
l=['Gnanesh','PWskills','India','DataScience']
reduce(lambda a,b: a+b,l)

'GnaneshPWskillsIndiaDataScience'

In [29]:
from functools import reduce
n=int(input("Enter number to find fatorial: "))
l=[i for i in range(1,n+1)]
reduce(lambda a,b: a*b,l)

Enter number to find fatorial:  5

120

In [39]:
from functools import reduce
n=input("Enter any number: ")
reduce(lambda a,b:int(a)+int(b),n)

Enter any number:  345

12

FILTER SOLUTIONS

In [41]:
print("Filter function is used to iterate each and every element to do a particular function created by user.")
print("Here an example below")
l=[2,3,5,7,9]
list(filter(lambda a: a%2!=0,l))

Filter function is used to iterate each and every element to do a particular function created by user.
Here an example below

[3, 5, 7, 9]

In [42]:
l=[1,2,3,4,5,6,7,8,9,10]
list(filter(lambda a: a%2==0,l))

[2, 4, 6, 8, 10]

In [43]:
l=['Dinesh','PWskills','Digital','DataScience','Gnanesh']
list(filter(lambda a: a[0]=='D',l))

['Dinesh', 'Digital', 'DataScience']

In [61]:
l=[4,5,6,7,8,9,13,24]
def prime(a):
    for i in range(2,int(a**0.5)+1):
        if a%i==0:
            return False
        return True
print(list(filter(prime,l)))

[5, 7, 9, 13]

In [71]:
l=[2,None,4,6,None,8,10]
list(filter(lambda a: a is not None,l))

[2, 4, 6, 8, 10]

In [73]:
l=['Dinesh','PWskills','Digital','DataScience','Gnanesh']
list(filter(lambda a: len(a)>7,l))

['PWskills', 'DataScience']

In [74]:
l=[3,2,7,9,10]
list(filter(lambda a: a>4,l))

[7, 9, 10]

RECURSION SOLUTIONS

In [75]:
print("Recursion means the process which a function calls itself until the loop ends.")
print("Recursion calls function continuesly by itself but iteration extract elements one by one from list or tuple or any other loop.")

Recursion means the process which a function calls itself until the loop ends.
Recursion calls function continuesly by itself but iteration extract elements one by one from list or tuple or any other loop.

In [78]:
def fact(n):
    if n<=1:
        return n
    else:
        return n*fact(n-1)
num=int(input("Enter any number to factorial: "))
fact(num)

Enter any number to factorial:  6

720

In [79]:
def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1)+fib(n-2)
num=int(input("Enter number to find fibonacci number: "))
fib(num)

Enter number to find fibonacci number:  10

55

In [85]:
l=[2,4,5,6,7,9,5]
def sum1(l1):
    s=0
    for i in l1:
        s=s+i
    print(s)
sum1(l)

38

In [1]:
print("The function setrecursionlimit() provided by 'sys' module is used to handle larger inputs and prevents a recursive function from running indefinitely.")

The function setrecursionlimit() provided by 'sys' module is used to handle larger inputs and prevents a recursive function from running indefinitely.

In [2]:
def gcd(a,b):
    if b==0:
        return a
    return gcd(b,a%b)
n1=int(input("Enter first number: "))
n2=int(input("Enter second number: "))
gcd(n1,n2)

Enter first number:  24
Enter second number:  48

24

In [9]:
def s(st):
    if len(st)<=1:
        return st
    return st[-1]+s(st[0:-1])
string=input("Enter any string: ")
s(string)

Enter any string:  Gnanesh

'hsenanG'

In [15]:
def power(x,n):
    if n==0:
        return 1
    elif n>0:
        return x*power(x,n-1)
    else:
        return 1/(x*power(x,-(n)-1))
num=int(input("Enter number to calculate: "))
p=int(input("Enter power value: "))
power(num,p)

Enter number to calculate:  5
Enter power value:  -2

0.04

In [22]:
def s(st):
    if len(st)<=1:
        return True
    if st[0]!=st[-1]:
        return False
    return s(st[1:-1])
string=input("Enter any string: ")
if s(string):
    print("It is palindrome")
else:
    print("It is not palindrome")

Enter any string:  GnanG

It is palindrome

BASIC OF FUNCTIONS SOLUTIONS

In [23]:
print("Function in python is reusable block of code or tasks.")
print("Because of reusability,abstraction and return values functions are used in python.")

Function in python is reusable block of code or tasks.
Because of reusability,abstraction and return values functions are used in python.

In [24]:
print("The function is veryuseful in python while we return values recursively.\nHere one example below.")
def fact(n):
    if n<=1:
        return 1
    else:
        return n*fact(n-1)
fact(5)

The function is veryuseful in python while we return values recursively.
Here one example below.

120

In [29]:
print("Function definition do specific behaviour of function which is created by user.\nHere one example.\n")
print('''def add(a,b):
    result=a+b
    return result''')
print("\nFunction call is calling the function add which created above with two arguments.\n")
print("add(4,6)")

Function definition do specific behaviour of function which is created by user.
Here one example.

def add(a,b):
    result=a+b
    return result

Function call is calling the function add which created above with two arguments.

add(4,6)

In [30]:
def add(a,b):
    result=a+b
    return result
add(8,3)

11

In [31]:
print("Function signature is nothing but declaring 'function name','parameters' and 'return type'.\nHere some examples below.")
print("Function name with parameters.\nsum(a,b):")
print("Return type.\nsum(a:int,b:int)--int:")

Function signature is nothing but declaring 'function name','parameters' and 'return type'.
Here some examples below.
Function name with parameters.
sum(a,b):
Return type.
sum(a:int,b:int)--int:

In [32]:
def add(a,b):
    result=a*b
    return result
add(8,3)

24

FUNCTION PARAMETERS AND ARGUMENTS SOLUTIONS

In [36]:
print("Formal parameters are variables placed in functions while creating it and they represent the data when the function calls.")
print("Here one example\nadd(a,b)")
print("\nActual arguments are values which are provided by user while calling function.\nHere one example\nadd(4,2).")

Formal parameters are variables placed in functions while creating it and they represent the data when the function calls.
Here one example
add(a,b)

Actual arguments are values which are provided by user while calling function.
Here one example
add(4,2).

In [39]:
def mul(a=4,b=7):
    return a*b
mul()

28

In [41]:
print("In python keyword arguments in function calls along with specific names and values.\nHere one example.\n")
print('''def greetings(name,greet='Hello'):
            print(f"{greet},{name}.")
       greetings('gnanesh')
       greetings(name='gopal',greet='Hi')''')

In python keyword arguments in function calls along with specific names and values.
Here one example.

def greetings(name,greet='Hello'):
            print(f"{greet},{name}.")
       greetings('gnanesh')
       greetings(name='gopal',greet='Hi')

In [42]:
def sum(a,b=9):
    print(a+b)
sum(4)
sum(a=5,b=3)

13
8

In [47]:
print("*args function helps us to accept each and every element when it has more than 2 elements inside the function.")
print("Here one example.\n\ndef sum(*args):\n  t=0\n  for i in args:\n     t=+i\n  return t\nsum(2,4,56,7)")

*args function helps us to accept each and every element when it has more than 2 elements inside the function.
Here one example.

def sum(*args):
  t=0
  for i in args:
     t=+i
  return t
sum(2,4,56,7)

RETURN VALUES AND SCOPING SOLUTIONS

In [50]:
print("The ruturn will return the result to the function in recursive manner.")
print("Here one example.\n")
print('''def fact(n):
    return n*fact(n-1)
fact(5)''')

The ruturn will return the result to the function in recursive manner.
Here one example.

def fact(n):
    return n*fact(n-1)
fact(5)

In [51]:
print("Variable scope refers that where the variable is accessible.")
print("Local variable accessible at particular block of code.")
print("Global variable accessible at any part of code.")

Variable scope refers that where the variable is accessible.
Local variable accessible at particular block of code.
Global variable accessible at any part of code.

In [53]:
g_v=10
def m_g_v():
    global g_v
    g_v+=20
def r_g_v():
    print("Global_variable=",g_v)
r_g_v()
m_g_v()
r_g_v()

Global_variable= 10
Global_variable= 30

In [55]:
def fact(n):
    if n<=1:
        return 1
    else:
        return n*fact(n-1)
fact(9)

362880

In [56]:
g_v=10
def r_g_v():
    print("Global_variable=",g_v)
r_g_v()

Global_variable= 10

LAMBDA FUNCTIONS AND HIGHER-ORDER FUNCTIONS

In [58]:
print("Lambda function had one function and arguments and it is used to simple calculations.")
print("Here one example\n\nl=[2,4,6,7,8,9]\nlist(map(lambda a:a**2,l))")

Lambda function had one function and arguments and it is used to simple calculations.
Here one example

l=[2,4,6,7,8,9]
list(map(lambda a:a**2,l))

In [60]:
l=[(1,2,3),(3,4,5),(45,1,6),(5,3,9)]
s_l=sorted(l,key=lambda a:a[1])
print(s_l)

[(45, 1, 6), (1, 2, 3), (5, 3, 9), (3, 4, 5)]

In [61]:
print("higher-order function is a function that can take one or more functions as arguments and/or can return a function as its result")
def apply_operation(operation, x, y):
    result = operation(x, y)
    return result

def add(x, y):
    return x + y

def subtract(x, y):
    return x - y

result1 = apply_operation(add, 5, 3)
print(result1)  

result2 = apply_operation(subtract, 10, 4)
print(result2)

higher-order function is a function that can take one or more functions as arguments and/or can return a function as its result
8
6

In [62]:
def a_f(numbers, func):
    result = []
    for number in numbers:
        result.append(func(number))
    return result

def square(x):
    return x ** 2

numbers = [1, 2, 3, 4, 5]

result = a_f(numbers, square)
print(result)

[1, 4, 9, 16, 25]

BUILT-IN FUNCTIONS SOLUTIONS

In [63]:
print("'len()' returns the length of the data type except int,float,bool,complex and some other.")
print("'min()' returns the smallest value from the dataset.")
print("'max()' returns the largest value from the dataset.")

'len()' returns the length of the data type except int,float,bool,complex and some other.
'min()' returns the smallest value from the dataset.
'max()' returns the largest value from the dataset.

In [66]:
l=[1,2,3,4,5,6,7,8]
def sq(a):
    return a**2
list(map(sq,l))

[1, 4, 9, 16, 25, 36, 49, 64]

In [69]:
l=[1,2,3,4,5,6,7,8]
print(list(filter(lambda a:a%2==0,l)))
print('To filter elements from the dataset represents specific given condition.')

[2, 4, 6, 8]
To filter elements from the dataset represents specific given condition.

In [1]:
from functools import reduce
l=[2,4,1,3,2,5]
reduce(lambda a,b:a*b,l)

240

FUNCTION DOCUMENTATION AND BEST PRACTICES

In [2]:
print("'docstrings' provide a convenient way of associating documentation with Python modules, functions, classes, and methods.")
print("format of docstring is '__doc__'")

'docstrings' provide a convenient way of associating documentation with Python modules, functions, classes, and methods.
format of docstring is '__doc__'

In [4]:
print('''Use descriptive and meaningful names.\nVariable names should be descriptive and meaningful.\nFollow a consistent naming convention.\nAvoid reserved keywords.\nDon't use abbreviations''')

Use descriptive and meaningful names.
Variable names should be descriptive and meaningful.
Follow a consistent naming convention.
Avoid reserved keywords.
Don't use abbreviations

THANK YOU FOR GIVING THIS ASSIGNMENT