In [2]:
str="PWskills"
print(str[::-1])

slliksWP

In [3]:
str="GnanG"
rev_str=str[::-1]
if (str==rev_str):
    print("String is palindrome")
else:
    print("String is not palindrome")

String is palindrome

In [4]:
str="mahesh"
print(str.upper())

MAHESH

In [5]:
str="MAHESH"
print(str.lower())

mahesh

In [6]:
str="I love India"
vowels="aeiouAEIOU"
vow_in_str=sum(str.count(char) for char in vowels)
print(vow_in_str)

6

In [15]:
str="I love My Country"
vowels="aeiouAEIOU"
count=0
for char in str:
    if char in vowels or char==" ":
        count+=0
    else:
        count+=1
print(count)

9

In [19]:
sen="I am learning Data SCience in pw skills "
rem_spaces_str=sen.replace(" ","")
print(rem_spaces_str)

IamlearningDataSCienceinpwskills

In [21]:
x="My name is Gnanesh"
count=0
for char in x:
    count+=1
print(count)

18

In [32]:
y="My name is Gnanesh"
print('Ramesh' in y)

False

In [33]:
x="My name is Gnanesh"
print(x.replace("Gnanesh", "Ramesh"))

My name is Ramesh

In [34]:
sen="I am Gnanesh, I am from India"
print(sen.count('am'))

2

In [52]:
sen="PWskills"
print(sen.index('s'))

2

In [51]:
sen="PWskills"
print(sen.rindex('s'))

7

In [60]:
sr="I am learnig Data Science in pwskills"
list=sr.split()
print(list)

['I', 'am', 'learnig', 'Data', 'Science', 'in', 'pwskills']

In [66]:
list=['I', 'am', 'Abhi']
string=''
for ele in list:
    string+=ele
print(string)

IamAbhi

In [67]:
string="I am playing Foot Ball"
print(string.replace(" ","_"))

I_am_playing_Foot_Ball

In [71]:
string="Gnanesh"
print(string.startswith('s'))

False

In [74]:
string="Gnanesh"
print(string.endswith("h"))

True

In [77]:
name="mahathma gandhi"
print(name.title())

Mahathma Gandhi

In [90]:
sen="my name is Gnanesh"
list=sen.split()
string=list[0]
for i in list:
    if (len(i)>len(string)):
        string=i
print(string)

Gnanesh

In [92]:
sen="my name is Gnanesh and I am from India"
list=sen.split()
string=list[0]
for i in list:
    if (len(i)<len(string)):
        string=i
print(string)

I

In [100]:
string="This is my second assignment"
list=string.split()
rev_list=list[::-1]
for i in rev_list:
    print(i, end=' ')

assignment second my is This

In [102]:
string="abc123"
print(string.isalnum())

True

In [108]:
string="abc234mnyk787"
numbers=[]
for i in string:
    if i.isnumeric():
        numbers.append(i)
for num in numbers:
    print(num, end=" ")

2 3 4 7 8 7

In [111]:
string="abc234mnyk787"
alphabets=[]
for i in string:
    if i.isalpha():
        alphabets.append(i)
for alpha in numbers:
    print(alpha, end=" ")

a b c m n y k

In [1]:
string="PWskills"
count=0
for char in string:
    if char.isupper():
        count+=1
print(count)

2

In [3]:
string="PWskills"
count=0
for char in string:
    if char.islower():
        count+=1
print(count)

6

In [5]:
string="PWskills"
for char in string:
    if char.isupper():
        print(char.lower(), end=" ")
    else:
        print(char.upper(), end=" ")

p w S K I L L S

In [9]:
string="I am writing assignment"
list=string.split()
list.remove('writing')
for i in list:
    print(i, end=" ")

I am assignment

In [12]:
Email="PWskills@gmail.com"
list=Email.split('@')
if 'gmail.com' in list:
    print('It is valid Email')
else:
    print('It is not valid Email')

It is valid Email

In [13]:
Email="PWskills@gmail.com"
list=Email.split('@')
print('Username: ',list[0])

Username:  PWskills

In [23]:
Email="PWskills@gmail.com"
list=Email.split('@')
list2=list[1].split('.')
print('Domain: ',list2[0])

Domain:  gmail

In [28]:
string="Here   is        an     example"
list=string.split()
for char in list:
    print(char, end=" ")

Here is an example

In [30]:
string="This is best example for this question"
dict={}
for i in string:
    if i==" ":
        continue
    else:
        dict[i]=string.count(i)
print(dict)

{'T': 1, 'h': 2, 'i': 4, 's': 5, 'b': 1, 'e': 4, 't': 3, 'x': 1, 'a': 1, 'm': 1, 'p': 1, 'l': 1, 'f': 1, 'o': 2, 'r': 1, 'q': 1, 'u': 1, 'n': 1}

In [16]:
string="I am stuck!, in the small place's . what I have to do now?"
pun='''!()-[]{};:'"\,<>./?@#$%^&*_~'''
for i in string:
    if (i in pun):
        string=string.replace(i,'')
print(string)

I am stuck in the small places  what I have to do now

In [32]:
string="773987498106934"
num=0
alpha=0
for i in string:
    if (i.isnumeric()):
        num+=1
    else:
        alpha+=1
if num>alpha and alpha==0:
    print("string has only numbers")
elif num<alpha and num==0:
    print("string has only alphabets")
else:
    print("string has both numbers and alphabets")

string has only numbers

In [33]:
string="adfkajoidjirjemojfiosajsd"
num=0
alpha=0
for i in string:
    if (i.isnumeric()):
        num+=1
    else:
        alpha+=1
if num>alpha and alpha==0:
    print("string has only numbers")
elif num<alpha and num==0:
    print("string has only alphabets")
else:
    print("string has both numbers and alphabets")

string has only alphabets

In [34]:
string="I am from India"
list=string.split()
print(list)

['I', 'am', 'from', 'India']

In [53]:
string1="Entry"
string2="Entry"
if (sorted(string1)==sorted(string2)):
    print("Strings are anagram")
else:
    print("Strings are not anagram")

Strings are anagram

In [57]:
string="Gnanesh"
count=0
char=string[0]
for i in string:
    if string.count(i)>count:
        count=string.count(i)
        char=i
print(char)

n

In [62]:
string="Gnanesh"
for i in string:
    if string.count(i)==1:
        print(i, end=" ")

G a e s h

In [64]:
string="hotel-vserdt-iui-jj"
print(string.count('-'))

3

In [78]:
string="Gnanesh@gmail.com"
if string.isalnum():
    print("String has no special characters")
else:
    print("String has special characters")

String has special characters

In [92]:
string="string is written str"
list=string.split()
list.pop(2)
print(' '.join(list))

string is str

In [91]:
string="string is written str"
list=string.split()
list.insert(3, 'as')
print(' '.join(list))

string is written as str

In [90]:
string="Welcome,to,India"
list=string.split(',')
print(list)

['Welcome', 'to', 'India']

#From here list solutions are started

In [93]:
list=[1,2,3,4,5,6,7,8,9,10]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [96]:
count=0
for i in list:
    count+=1
print(count)

10

In [97]:
list.append(11)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [98]:
list.insert(5,900)
print(list)

[1, 2, 3, 4, 5, 900, 6, 7, 8, 9, 10, 11]

In [100]:
list.remove(900)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [101]:
list.pop(10)
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [103]:
if 400 in list:
    print("Yes number in list")
else:
    print("NO")

NO

In [106]:
list.insert(9,7)
list.index(7)

6

In [108]:
list.count(7)

2

In [109]:
list[::-1]

[10, 7, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [116]:
list=[3,5,8,2,89,1,80,5,7,]
list.sort()
print(list)

[1, 2, 3, 5, 5, 7, 8, 80, 89]

In [120]:
list.sort(reverse=True)
print(list)

[89, 80, 8, 7, 5, 5, 3, 2, 1]

In [121]:
x=20
list=[]
for i in range(1,x+1):
    if i%2==0:
        list.append(i)
print(list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [122]:
x=20
list=[]
for i in range(1,x+1):
    if i%2!=0:
        list.append(i)
print(list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [128]:
list=[2,4,7,9,2]
sum=sum(num for num in list)
print(sum)

24

In [130]:
print(max(list))

9

In [131]:
print(min(list))

2

In [133]:
num=10
list1=[]
for i in range(1,num+1):
    list1.append(i**2)
print(list1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [137]:
l=[4,5,6,7,2,33,454,5,4,5,5]
li=[]
for i in l:
    if i not in li:
        li.append(i)
print(li)

[4, 5, 6, 7, 2, 33, 454]

In [1]:
l1=[2,4,6,8,5,3,2]
l2=[4,8,6,9,10,1]
com_ele=[]
for i in l1:
    if i in l2 and i not in com_ele:
        com_ele.append(i)
print(com_ele)

[4, 6, 8]

In [7]:
l1=[2,4,6,8,5,3,2]
l2=[4,8,6,9,10,1]
com_ele=[]
for i in l1:
    for j in l2:
        if i not in l2 and j not in l1 and i not in com_ele and j not in com_ele:
            com_ele.append(i)
            com_ele.append(j)
print(sorted(com_ele))

[1, 2, 3, 5, 9, 10]

In [9]:
l1=[2,4,6,8,5,3,2]
l2=[4,8,6,9,10,1]
l1.extend(l2)
print(l1)

[2, 4, 6, 8, 5, 3, 2, 4, 8, 6, 9, 10, 1]

In [17]:
l1=[4,8,6,9,10,1]
for i in l1:
    print(i*2, end=" ")

8 16 12 18 20 2

In [19]:
l1=[1,2,3,4,5,6,7,8,9,10]
for i in l1:
    if i%2==0:
        print(i, end=" ")

2 4 6 8 10

In [24]:
l1=['4','8','6','9','10','1']
l2=[]
for i in l1:
    l2.append(int(i))
print(l2)

[4, 8, 6, 9, 10, 1]

In [25]:
l1=[4,8,6,9,10,1]
l2=[]
for i in l1:
    l2.append(str(i))
print(l2)

['4', '8', '6', '9', '10', '1']

In [28]:
l1=[2,4,6,8,[1,2,3],[9,10]]
l2=[]
for i in l1:
    if type(i)!=int: 
        for ele in i:
            l2.append(ele)
    else:
        l2.append(i)
print(l2)

[2, 4, 6, 8, 1, 2, 3, 9, 10]

In [31]:
flist=[]
fn=0
sn=1
for i in range(10):
    flist.append(fn)
    temp=fn
    fn=sn
    sn=temp+sn
print(flist)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [35]:
l1=[1,4,7,3,2]
l2=sorted(l1)
if l1==l2:
    print("list is sorted")
else:
    print("list is not sorted")

list is not sorted

In [10]:
n=int(input("Enter how many times rotate left: "))
l1=[1,4,7,3,2,9]
l1=l1[len(l1)-n:len(l1)]+l1[0:len(l1)-n]
print(l1)

Enter how many times rotate left:  4

[7, 3, 2, 9, 1, 4]

In [1]:
n=int(input("Enter how many times rotate right: "))
l1=[1,4,7,3,2,9]
l1=l1[n:len(l1)]+l1[0:n]
print(l1)

Enter how many times rotate right:  4

[2, 9, 1, 4, 7, 3]

In [68]:
num=int(input("Enter number upto where you want prime numbers:  "))
l=[]
for i in range(1,num):
    count=0
    for j in range(1,i):
        if i%j==0:
            count+=1
    if count<2:
        l.append(i)
print(l)

Enter number upto where you want prime numbers:   50

[1, 2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [69]:
list=[1,2,3,4,5,6,7,8,9,10,11,22,33,44,55,66,77,88,99,100]
N_list=[]
chunks=int(input("Enter how many chunks do you need:  "))
for i in range(0,len(list),chunks):
    N_list.append(list[i:i+chunks])
print(N_list)

Enter how many chunks do you need:   4

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 22], [33, 44, 55, 66], [77, 88, 99, 100]]

In [70]:
list=[1112,27,34,4,5,6,77,8,9,10,11,22,33,44,555,66,88,99,100]
l2=sorted(list)
print(l2[-2])

555

In [1]:
l=[4,3,5,6,9]
for i in range(len(l)):
    l[i]=l[i]**2
print(l)

[16, 9, 25, 36, 81]

In [2]:
list=['Gnanesh',8,7.567,6,2,'pw','skills',5]
dict={}
for i in range(len(list)):
    dict[list[i]]=i
print(dict)

{'Gnanesh': 0, 8: 1, 7.567: 2, 6: 3, 2: 4, 'pw': 5, 'skills': 6, 5: 7}

In [6]:
num=11
list=[]
for i in range(1,num):
    s=1
    while i>0:
        s*=i
        i-=1
    list.append(s)
print(list)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

In [2]:
l1=[2,3,5,6]
l2=[4,5,7,6]
for i in l1:
    if i in l2:
        print("Yes lists having comman element")
        break

Yes lists having comman element

In [3]:
l1=[2,4,6,8,10]
l1.clear()
print(l1)

[]

In [5]:
l=[1,3,-7,8,-9,4,6,-5]
for i in range(len(l)):
    if l[i]<0:
        l[i]=0
print(l)

[1, 3, 0, 8, 0, 4, 6, 0]

In [6]:
string="I am Innocent"
list=string.split()
print(list)

['I', 'am', 'Innocent']

In [7]:
list=['I', 'am', 'Hungry', 'now']
print(' '.join(list))

I am Hungry now

In [9]:
N=int(input("Enter how many could be squared: "))
l=[]
for i in range(1,N+1):
    l.append(i**2)
print(l)

Enter how many could be squared:  10

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [13]:
l_s=['3','Gnanesh','pwskills','Game']
h_s=l_s[0]
for i in l_s:
    if len(i)>len(h_s):
        h_s=i
print(h_s)

pwskills

In [14]:
l_s=['3','Gnanesh','pwskills','Game']
h_s=l_s[0]
for i in l_s:
    if len(i)<len(h_s):
        h_s=i
print(h_s)

3

In [17]:
num=int(input("Enter how many triangle numbers do you want: "))
list=[]
first=1
n=2
for i in range(num):
    list.append(first)
    first=first+n
    n+=1
print(list)

Enter how many triangle numbers do you want:  13

[1, 3, 6, 10, 15, 21, 28, 36, 45, 55, 66, 78, 91]

In [39]:
list1=[1,3,2,4,6,8]
list2=[2,4,6]
l=len(list2)
for i in range(len(list1)): 
    if list1[i:i+l]==list2:
        print("list2 is subset of list1")

list2 is subset of list1

In [43]:
list1=[1,3,5,7,9]
N=2
list1[N], list1[N+1]=list1[N+1], list1[N]
print(list1)

[1, 3, 7, 5, 9]

In [44]:
t=(1,2,3,4,5)
t

(1, 2, 3, 4, 5)

In [45]:
t[2]

3

In [46]:
count=0
for i in t:
    count+=1
print(count)

5

In [47]:
t=(3,4,5,6,7,5,4,4,3)
t.count(4)

3

In [2]:
t=(3,4,5,6,7,5,4,4,3)
t.index(4)

1

In [3]:
if 7 in t:
    print("Yes")
else:
    print("No")

Yes

In [4]:
list=list(t)
list

[3, 4, 5, 6, 7, 5, 4, 4, 3]

In [5]:
tuple=tuple(list)
tuple

(3, 4, 5, 6, 7, 5, 4, 4, 3)

In [6]:
for i in tuple:
    print(i, end=" ")

3 4 5 6 7 5 4 4 3

In [7]:
for i in range(1,11):
    if i%2==0:
        print(i, end=" ")

2 4 6 8 10

In [8]:
for i in range(1,11):
    if i%2!=0:
        print(i, end=" ")

1 3 5 7 9

In [10]:
t1=(1,2,3,4,5)
t2=(6,7,8,9,10)
t1+t2

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [11]:
t1=(1,2,3,4,5)
print(t1*3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [13]:
t1=()
if len(t1)>0:
    print("tuple is not empty")
else:
    print("tuple is empty")

tuple is empty

In [14]:
t2=(1,5,6,(3,2))
t2

(1, 5, 6, (3, 2))

In [15]:
t2[3][0]

3

In [17]:
t5=(5,)
type(t5)

tuple

In [18]:
t1=(1,2,3,4,5)
t2=(3,4,5,6,7)
if sorted(t1)==sorted(t2):
    print("Both tuples are same")
else:
    print("Both tuples are different")

Both tuples are different

In [21]:
t1=(1,2,3,4,5)
del t1

In [23]:
t1=(3,4,5,6,7,8)
t1[2:5]

(5, 6, 7)

In [26]:
t1=(9,4,8,6,7,8)
max(t1)

9

In [27]:
min(t1)

4

In [1]:
string="I am Gnanesh"
l=string.split()
t=tuple(i for i in l)
print(t)

('I', 'am', 'Gnanesh')

In [3]:
print(' '.join(t))

I am Gnanesh

In [4]:
tup=(1,'Gnanesh',8.45,True)
tup

(1, 'Gnanesh', 8.45, True)

In [8]:
t=(7,8,4,5,6,2,3,9,10)
tuple(sorted(t))

(2, 3, 4, 5, 6, 7, 8, 9, 10)

In [10]:
t=(7,8,4,5,6,2,3,9,10)
t2=[]
for i in t:
    t2.append(str(i))
print(tuple(t2))

('7', '8', '4', '5', '6', '2', '3', '9', '10')

In [11]:
t=('7','8','4','5','6','2','3','9','10')
t2=[]
for i in t:
    t2.append(int(i))
print(tuple(t2))

(7, 8, 4, 5, 6, 2, 3, 9, 10)

In [12]:
t1=(2,3,4,5,6)
t2=(7,8,9,23,4)
t=t1+t2
t

(2, 3, 4, 5, 6, 7, 8, 9, 23, 4)

In [15]:
t=(1,2,3,(6,7,8),(10,22))
t2=[]
for i in t:
    if type(i)==tuple:
        for ele in i:
            t2.append(ele)
    else:
        t2.append(i)
print(tuple(t2))

(1, 2, 3, 6, 7, 8, 10, 22)

In [17]:
t=[]
for i in range(1,10):
    count=0
    for j in range(1,i):
        if i%j==0:
            count+=1
    if count<2:
        t.append(i)
print(tuple(t))

(1, 2, 3, 5, 7)

In [21]:
t1=(2,3,4,5,6,5)
if t1==t1[::-1]:
    print("tuple is palindrome")
else:
    print("tuple is not palindrome")

tuple is not palindrome

In [22]:
l=[]
for i in range(1,6):
    l.append(i**2)
print(tuple(l))

(1, 4, 9, 16, 25)

In [23]:
t=(1,2,3,4,5,6,7,8,9,10)
l=[]
for i in t:
    if i%2==0:
        l.append(i)
print(tuple(l))

(2, 4, 6, 8, 10)

In [25]:
t=(1,2,3,4,5,6,7,8,9,10)
l=[]
for i in t:
    l.append(i*2)
print(tuple(l))

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [42]:
t=(8,44,66,777,88888,22222,557343)
t2=sorted(t)
tuple6=tuple(t2)
if t==tuple6:
    print("Yes it is sorted")
else:
    print("No it is not sorted")

No it is not sorted

In [2]:
n=int(input("Enter how many times rotate left: "))
t1=[1,4,7,3,2,9,10,22,56]
t1=t1[len(t1)-n:len(t1)]+t1[0:len(t1)-n]
print(t1)

Enter how many times rotate left:  6

[3, 2, 9, 10, 22, 56, 1, 4, 7]

In [3]:
n=int(input("Enter how many times rotate right: "))
t1=[1,4,7,3,2,9,10,22,56]
t1=t1[n:len(t1)]+t1[0:n]
print(t1)

Enter how many times rotate left:  5

[9, 10, 22, 56, 1, 4, 7, 3, 2]

In [5]:
list=[]
fn=0
sn=1
for i in range(6):
    list.append(fn)
    temp=fn
    fn=sn
    sn=temp+sn
print(tuple(list))

(0, 1, 1, 2, 3, 5)

In [1]:
t=[]
n=int(input("Enter how many numbers do you want to enter into tuple: "))
for i in range(n):
    print("Enter number for index",i)
    ele=int(input())
    t.append(ele)
print(tuple(t))

Enter how many numbers do you want to enter into tuple:  7

Enter number for index 0

 2

Enter number for index 1

 5

Enter number for index 2

 7

Enter number for index 3

 9

Enter number for index 4

 10

Enter number for index 5

 46

Enter number for index 6

 799

(2, 5, 7, 9, 10, 46, 799)

In [1]:
tup=(2,4,6,7,9,3,10,19,77)
list=list(tup)
I=int(input("Enter index value to swap elements: "))
list[I], list[I+1]=list[I+1], list[I]
print(tuple(list))

Enter index value to swap elements:  3

(2, 4, 6, 9, 7, 3, 10, 19, 77)

In [2]:
tup=(2,4,6,7,9,3,10,19,77)
print(tup[::-1])

(77, 19, 10, 3, 9, 7, 6, 4, 2)

In [4]:
l=[]
n=int(input("Enter upto where do you want to square numbers: "))
for i in range(1,n+1):
    l.append(i**2)
print(tuple(l))

Enter upto where do you want to square numbers:  7

(1, 4, 9, 16, 25, 36, 49)

In [6]:
t=('Gnanesh','pwskills','my nick name is abhi','as per point','28982')
s=t[0]
for i in t:
    if len(i)>len(s):
        s=i
print(s)

my nick name is abhi

In [7]:
t=('Gnanesh','pwskills','my nick name is abhi','as per point','28982')
s=t[0]
for i in t:
    if len(i)<len(s):
        s=i
print(s)

28982

In [8]:
num=int(input("Enter how many triangle numbers do you want: "))
list=[]
first=1
n=2
for i in range(num):
    list.append(first)
    first=first+n
    n+=1
print(tuple(list))

Enter how many triangle numbers do you want:  10

(1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

In [6]:
t1=(1,3,2,4,6,8)
t2=(2,4,5)
if set(t2).issubset(t1):
    print("t2 is subset of t1")
else:
    print("t2 is not subset of t1")

t2 is not subset of t1

In [44]:
l=[]
n=int(input("Enter how many numbers do you want to print: "))
for i in range(n):
    if i%2==0:
        l.append(1)
    else:
        l.append(0)
print(tuple(l))

Enter how many numbers do you want to print:  5

(1, 0, 1, 0, 1)

In [8]:
set={1,2,3,4,5}
set

{1, 2, 3, 4, 5}

In [10]:
set.add(11)
set

{1, 2, 3, 4, 5, 11}

In [11]:
set.remove(3)
set

{1, 2, 4, 5, 11}

In [12]:
5 in set

True

In [15]:
set={1,3,5,7,9,2,10}
count=0
for i in set:
    count+=1
print(count)

7

In [16]:
set={1,3,5,7,9,2,10}
set.clear()
set

set()

In [1]:
s=set()
for i in range(10):
    if i%2==0:
        s.add(i)
print(s)

{0, 2, 4, 6, 8}

In [2]:
s=set()
for i in range(10):
    if i%2!=0:
        s.add(i)
print(s)

{1, 3, 5, 7, 9}

In [3]:
set1={1,2,3,4}
set2={2,4,6,8}
set1.union(set2)

{1, 2, 3, 4, 6, 8}

In [4]:
set1={1,2,3,4}
set2={2,4,6,8}
set1.intersection(set2)

{2, 4}

In [6]:
set1={1,2,3,4}
set2={2,4,6,8}
set1.symmetric_difference_update(set2)
set1

{1, 3, 6, 8}

In [9]:
set1={1,2,3,4}
set2={2,5}
if set2.issubset(set1):
    print("Yes subset")
else:
    print("No not subset")

No not subset

In [11]:
set1={1,2,3,4}
set2={2,4}
if set1.issuperset(set2):
    print("Yes superset")
else:
    print("NO not superset")

Yes superset

In [12]:
list=[2,'Gnanesh',6,299]
print(set(list))

{2, 299, 'Gnanesh', 6}

In [1]:
set1={1,2,3,4,'Gnanesh', 12.344}
l=list(set1)
print(l)

[1, 2, 3, 4, 'Gnanesh', 12.344]

In [2]:
set1={1,2,3,4,'Gnanesh', 12.344}
set1.remove(2)
set1

{1, 12.344, 3, 4, 'Gnanesh'}

In [5]:
set1={1,2,3,4,'Gnanesh', 12.344}
set1.pop()
set1

{12.344, 2, 3, 4, 'Gnanesh'}

In [7]:
set1={1,2,3,4}
set2={6,8}
if set1.intersection(set2):
    print("sets have common elements")
else:
    print("sets didn't have common elements")

sets didn't have common elements

In [2]:
set1={1,2,3,4,'pwskills','Gnanesh'}
set2={2,4,6,8,'Gnanesh'}
set1.symmetric_difference_update(set2)
set1

{1, 3, 6, 8, 'pwskills'}

In [4]:
set1={1,2,3,4,'pwskills','Gnanesh'}
set2={2,4,6,8,'Gnanesh'}
set1.update(set2)
set1

{1, 2, 3, 4, 6, 8, 'Gnanesh', 'pwskills'}

In [5]:
set1=set()
for i in range(1,10):
    count=0
    for j in range(1,i):
        if i%j==0:
            count+=1
    if count<2:
        set1.add(i)
print(set1)

{1, 2, 3, 5, 7}

In [11]:
set1={1,2,3,4}
set2={2,4,1,3}
if len(set1)==len(set2) and set1.intersection(set2)==set1:
    print("Yes sets are identical")
else:
    print("No sets are not same")

Yes sets are identical

In [12]:
set={4,7,2,9,10}
set1=frozenset(set)
set1

frozenset({2, 4, 7, 9, 10})

In [14]:
set1={1,2,3,4}
set2={5,6,7,8,9}
set1.isdisjoint(set2)

True

In [1]:
set1=set()
for i in range(1,6):
    set1.add(i**2)
set1

{1, 4, 9, 16, 25}

In [2]:
set1={1,2,3,4,5,6,7,8,9,34,78,23,900,345}
set2=set()
for i in set1:
    if i%2==0:
        set2.add(i)
set2

{2, 4, 6, 8, 34, 78, 900}

In [3]:
set1={1,2,3,4,5,6,7,8,9,34,78,23,900,345}
set2=set()
for i in set1:
    set2.add(i*2)
set2

{2, 4, 6, 8, 10, 12, 14, 16, 18, 46, 68, 156, 690, 1800}

In [4]:
set1=set()
if len(set1)>1:
    print("set is not empty")
else:
    print("set is empty")

set is empty

In [2]:
set7={2,7,9,100,"Gnanesh",'pwskills'}
set1=frozenset(set7)
set1

frozenset({100, 2, 7, 9, 'Gnanesh', 'pwskills'})

In [3]:
set7={2,7,9,100,"Gnanesh",'pwskills'}
set7.discard('pwskills')
set7

{100, 2, 7, 9, 'Gnanesh'}

In [4]:
set1={1,2,3,4}
set2={5,6,7,8,9}
if set1==set2:
    print("sets are same")
else:
    print("sets are not same")

sets are not same

In [7]:
string="I am Gnanesh my roll number is 22"
l=string.split()
print(set(l))

{'22', 'number', 'am', 'Gnanesh', 'roll', 'my', 'I', 'is'}

In [9]:
set123={'22','16','27','28','30'}
set2=set()
for i in set123:
    set2.add(int(i))
set2

{16, 22, 27, 28, 30}

In [11]:
set123={22,16,27,28,30}
set2=set()
for i in set123:
    set2.add(str(i))
set2

{'16', '22', '27', '28', '30'}

In [12]:
tuple1=(1,3,'pwskills','remote',45.99,True)
set(tuple1)

{1, 3, 45.99, 'pwskills', 'remote'}

In [13]:
set1={1,3,'pwskills','remote',45.99,True}
tuple(set1)

(1, 3, 'pwskills', 'remote', 45.99)

In [14]:
set123={22,16,27,28,30}
max(set123)

30

In [15]:
min(set123)

16

In [16]:
set147=set()
n=int(input("Enter how many numbers do you add into set: "))
for i in range(n):
    print("Enter number for index ",i,":")
    ele=int(input())
    set147.add(ele)
set147

Enter how many numbers do you add into set:  6

Enter number for index  0 :

 8

Enter number for index  1 :

 34

Enter number for index  2 :

 678

Enter number for index  3 :

 234

Enter number for index  4 :

 12

Enter number for index  5 :

 0

{0, 8, 12, 34, 234, 678}

In [20]:
set1={1,2,3,4,5}
set2={6,7,8,9,10}
if set1.intersection(set2)==set():
    print("Intersection is empty")
else:
    print("Intersection have elements")

Intersection is empty

In [22]:
set9=set()
first=0
second=1
for i in range(6):
    set9.add(first)
    temp=first
    first=second
    second=temp+second
set9

{0, 1, 2, 3, 5}

In [23]:
set1={2,4,6,8,9,4,8,6,2,6,6,8}
set1

{2, 4, 6, 8, 9}

In [26]:
set1={1,2,3,4}
set2={2,4,1,9}
if set1.intersection(set2)==set1:
    print("Yes sets having same elements")
else:
    print("No sets not having different elements")

No sets not having different elements

In [27]:
set9=set()
for i in range(1,11):
    set9.add(i**2)
set9

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

In [28]:
set1={'Gnanesh','pwskills',4,8,23.78}
list=[2,4,'Gnanesh',23.78,89.33]
set1.intersection(list)

{23.78, 4, 'Gnanesh'}

In [29]:
num=int(input("Enter how many triangle numbers do you want: "))
set8=set()
first=1
n=2
for i in range(num):
    set8.add(first)
    first=first+n
    n+=1
print(set8)

Enter how many triangle numbers do you want:  10

{1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

In [31]:
set4={9,8,6,5,4}
set5={8,6,9,4}
if set5.issubset(set4):
    print("Yes set5 is subset of set4")
else:
    print("No set5 is not subset of set4")

Yes set5 is subset of set4

In [46]:
set3=set()
for i in range(4):
    if i%2==0:
        set3.add(1)
    else:
        set3.add(0)
set3

{0, 1}

In [47]:
set1={1,3,5,7}
set2={2,10,'Gnanesh',False}
set3={'pwskills',2,45.22,True}
set_m=set1.union(set2,set3)
set_m

{1, 10, 2, 3, 45.22, 5, 7, False, 'Gnanesh', 'pwskills'}

#Thank you for giving this assignment